<h1>Welcome <%= current_user.nickname %></h1>
<a href="/podcast" class="btn">Podcast</a>
<div>
    <p>Tools:</p>
    <a href="/need" class="btn">Do I need it</a>
    <a href="/want" class="btn">What I want</a>
    <a href="/emotion" class="btn">How I feel</a>
    <a href="/esteem" class="btn">I am (self-esteem exercise)</a>
</div>